<mat-toolbar color="primary">
  <button routerLink="/adverts" mat-flat-button color="primary">
    <mat-icon>arrow_back</mat-icon>
    Back to adverts
  </button>
</mat-toolbar>

<br><br>


<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title style="color:#3f51b5; ">Sign In</mat-card-title>
      <br><br>
    </mat-card-header>

    <form class="example-form">
      <button mat-stroked-button color="primary" class="btn-block">
        Login With Facebook
      </button>
      <button mat-stroked-button color="primary" class="btn-block">
        Login With Google
      </button>
      <button mat-stroked-button color="primary" class="btn-block">
        Login With Email
      </button>
    </form>
  </mat-card>
</div>
