
.main-wrapper {
  height: 100%;
}

.positronx {
  text-decoration: none;
  color: #ffffff;
}

.box {
  position: relative;
  top: 0;
  padding-top:500px;
  opacity: 1;
  float: left;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 530px;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}


.main-wrapper .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.main-wrapper .example-full-width,
.main-wrapper .btn-block {
  width: 100%;
}

.main-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.main-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

.main-wrapper .mat-card {
  padding: 45px 70px 55px;
}

.main-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 40px;
}
