<mat-toolbar color="primary">
  <button routerLink="/adverts" mat-flat-button color="primary">
    <mat-icon>arrow_back</mat-icon>
    Back to adverts
  </button>

  <button mat-flat-button color="warn" *ngIf="afAuth.authState |async" (click)="logout()">Logout
  </button>

</mat-toolbar>

<br><br>


<div *ngIf="(afAuth.authState |async)===null" class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title style="color:#3f51b5; ">Sign In</mat-card-title>
      <br><br>
    </mat-card-header>

    <form class="example-form">
      <button mat-stroked-button color="primary" class="btn-block">
        Login With Facebook
      </button>
      <button (click)="loginWithGoogle()" mat-stroked-button color="primary" class="btn-block">
        Login With Google
      </button>
      <button mat-stroked-button color="primary" class="btn-block">
        Login With Email
      </button>
    </form>
  </mat-card>
</div>

<div *ngIf="afAuth.authState |async as user" class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title style="color:#3f51b5; ">{{user.displayName}}</mat-card-title>

      <br><br>
    </mat-card-header>

    <form class="example-form">
      <mat-card-title style="color:#3f51b5; padding-left: 25% " >{{user.email}}</mat-card-title>
      <img src="{{user.photoURL}}" style="padding-left: 150px">

    </form>
  </mat-card>
</div>
