<mat-toolbar color="primary">
  <button routerLink="/adverts" mat-flat-button color="primary">
    <mat-icon>arrow_back</mat-icon>
    Back to adverts
  </button>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="300px">
  <mat-grid-tile>
    <div class="example-container">


      <mat-form-field appearance="fill" style="width: 400px">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>

      <br><br>

      <mat-form-field appearance="fill" style="width: 400px">
        <mat-label>Password</mat-label>
        <input matInput>
      </mat-form-field>
      <br>


    </div>
  </mat-grid-tile>
</mat-grid-list>
