mat-toolbar {
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 18px;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.example-h2 {
  margin: 10px;}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

