<mat-toolbar color="primary">
  <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
    <span *ngIf="gridColumns === 4">Three Columns</span>
    <span *ngIf="gridColumns === 3">Four Columns</span>
  </button>
  <button mat-button>Create an advert</button>
</mat-toolbar>


<div class="content">


  <!-- Filter table-->
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Filter Table</h2>

      <section class="example-section">
        <mat-checkbox class="example-margin" color="primary" >Checked</mat-checkbox>
        <mat-checkbox class="example-margin" color="primary">Indeterminate</mat-checkbox>
      </section>

      <section class="example-section">
        <label class="example-margin">Align:</label>
        <mat-radio-group>
          <mat-radio-button class="example-margin" color="primary" value="after">After</mat-radio-button>
          <mat-radio-button class="example-margin" color="primary" value="before">Before</mat-radio-button>
        </mat-radio-group>
      </section>

      <section class="example-section">
        <mat-checkbox class="example-margin" color="primary" >Disabled</mat-checkbox>
      </section>
    </mat-card-content>
  </mat-card>



  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" fxLayoutAlign="start start" *ngFor="let advert of adverts">
      <mat-card class="mat-elevation-z4" fxFlexAlign="stretch">
        <mat-card-header>
          <img mat-card-avatar src="{{ advert.postedBy.avatar }}" style="background-size: cover;">
          <mat-card-title>{{ advert.postedBy.firstName }}</mat-card-title>
          <mat-card-subtitle>{{ advert.address }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ advert.images[0].link }}">
        <mat-card-content>
          <h3>{{ advert.title }}</h3>
          <p>{{ advert.description }}</p>
          {{ advert.price | currency:"USD" }}
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>See details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
