<mat-toolbar color="primary">
  <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
    <span *ngIf="gridColumns === 4">Three Columns</span>
    <span *ngIf="gridColumns === 3">Four Columns</span>
  </button>
  <button mat-button>Create an advert</button>
</mat-toolbar>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" fxLayoutAlign="start start" *ngFor="let advert of adverts">
      <mat-card class="mat-elevation-z4" fxFlexAlign="stretch">
        <mat-card-header>
          <img mat-card-avatar src="{{ advert.postedBy.avatar }}" style="background-size: cover;">
          <mat-card-title>{{ advert.postedBy.firstName }}</mat-card-title>
          <mat-card-subtitle>{{ advert.address }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ advert.images[0].link }}">
        <mat-card-content>
          <h3>{{ advert.title }}</h3>
          <p>{{ advert.description }}</p>
          {{ advert.price | currency:"USD" }}
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>See details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
