<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2 col-4">
          Car-Sale
        </div>
        <div class="col-lg-6 col-sm-12">
          <form action="#" class="search">
            <div class="input-group w-100">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="widgets-wrap float-md-right">
            <div class="widget-header  mr-3">
              <a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-star"></i></a>
              <span class="badge badge-pill badge-danger notify">0</span>
            </div>
            <div class="widget-header icontext">
              <a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
              <div class="text">
                <span class="text-muted">Welcome!</span>
                <div>
                  <a href="#">Sign in</a> |
                  <a href="#"> Register</a>
                </div>
              </div>
            </div>

          </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->
      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </section> <!-- header-main .// -->

  <nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#">MostViewed Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Something</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Something</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Something</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Something</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Something</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Something</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Something</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> More</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Sport Cars</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Category 1</a>
              <a class="dropdown-item" href="#">Category 2</a>
              <a class="dropdown-item" href="#">Category 3</a>
            </div>
          </li>
        </ul>
      </div> <!-- collapse .// -->
    </div> <!-- container .// -->
  </nav>

</header> <!-- section-header.// -->



<section class="section-main bg padding-y">
  <div class="container">

    <div class="row">
      <aside class="col-md-3">
        <nav class="card">
          <ul class="menu-category">
            <li><a href="#">Second Hand</a></li>
            <li><a href="#">Had crash</a></li>
            <li><a href="#">under 1000 < mile </a></li>
            <li><a href="#">Second Hand</a></li>
            <li><a href="#">Had crash</a></li>
            <li><a href="#">under 1000 < mile </a></li>
            <li><a href="#">Second Hand</a></li>
            <li><a href="#">Had crash</a></li>
            <li><a href="#">under 1000 < mile </a></li>
            <li><a href="#">Second Hand</a></li>
            <li><a href="#">Had crash</a></li>
            <li><a href="#">under 1000 < mile </a></li>
          </ul>
        </nav>
      </aside> <!-- col.// -->
      <div class="col-md-9">
        <article class="banner-wrap">
          <!-- Most viewed cars photo or Logo --><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZoD6DY2NwTfDveysY1Q_W9askUA17WAmJXg&usqp=CAU" class="w-100 rounded">
        </article>
      </div> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- container //  -->
</section>





<section class="section-name padding-y-sm" >
  <div class="container">
    <app-advert-list></app-advert-list>
  </div>
</section>




<footer class="section-footer border-top bg">
  <div class="container">
    <section class="footer-top  padding-y">
      <div class="row">

        <aside class="col-md col-6">
          <h6 class="title">Help</h6>
          <ul class="list-unstyled">
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Rules and terms</a></li>
          </ul>
        </aside>
        <aside class="col-md col-6">
          <h6 class="title">Account</h6>
          <ul class="list-unstyled">
            <li><a href="#"> User Login </a></li>
            <li><a href="#"> User register </a></li>
            <li><a href="#"> Account Setting </a></li>
            <li><a href="#"> My Favourites </a></li>
          </ul>
        </aside>
      </div> <!-- row.// -->
    </section>  <!-- footer-top.// -->

    <section class="footer-bottom row">
      <div class="col-md-2">
        <p class="text-muted"> 2021 Car-sale </p>
      </div>
      <div class="col-md-8 text-md-center">
        <span class="px-2">info@com</span>
        <span class="px-2">+000-000-0000</span>
      </div>
    </section>
  </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
