<mat-toolbar color="primary">
  <button routerLink="/adverts" mat-flat-button color="primary">
    <mat-icon>arrow_back</mat-icon>
    Back to adverts
  </button>

</mat-toolbar>

<div class="content">
  <mat-card class="mat-elevation-z4" fxFlexAlign="stretch">
    <mat-card-header>

      <button mat-icon-button  color="primary"  style="margin-left: auto" >
        <mat-icon>favorite</mat-icon>
      </button>

<!--      <button mat-icon-button color="primary"  style="margin-left: auto">-->
<!--        <mat-icon>check_circle</mat-icon>-->
<!--      </button>-->

      <img mat-card-avatar src="{{advert.title}}" style="background-size: cover;">
      <mat-card-title>{{advert.price}}</mat-card-title>
      <mat-card-subtitle>{{advert.carBrand}}</mat-card-subtitle>

    </mat-card-header>

    <img mat-card-image src="{{advert.coverPhoto}}" style="object-fit: cover; height: 45%;">
    <mat-card-content>
      <h3>{{advert.description}}</h3>
      <p>{{advert.carBrand}}</p>
      <br><br>
      {{ advert.price | currency:"USD" }}
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
<!-- add map for the location, change layout , add rating, modify favourite button -->
